.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.mainBody {
  background-image: url("https://ok4static.oktacdn.com/bc/image/fileStoreRecord?id=fs07ujp6pveeTt7Xk1t7");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
