#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
}

.avatar-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0px;
  color: #1890ff;
}

.logo-avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
}

.logo-avatar img {
  width: 35px;
  height: 35px;
}

.logo-main {
  padding: 0;
}

.logo-main img {
  width: 120px;
}

.search-box {
  width: 200px;
  height: 30px;
  margin: 15px 0;
}
